@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Copse&family=DM+Serif+Text&family=Meera+Inimai&display=swap');


// HOMEPAGE



@mixin centerer {
    position: absolute;
    top:50%;
    left:50%;
    transform: (-50%, -50%);
} 

section {
    min-height: 100vh;
    padding-top: 90px;
}

#home {
     background: url(../img/i%20ate%20it%20here%204.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
    
} 

.transbox {
  background-color: #000;
  opacity: 0.6;
  border: 3px;
  margin-top: 2%;
  font-family: 'Epilogue', sans-serif;
}

.title{
    color: #F1D2F5 ;
    opacity: 1.0;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    letter-spacing: 0.2em;
}

.subtransbox  {
    background-color: #000;
  border: 3px solid black;
  opacity: 0.6;   
  letter-spacing: 0.2em;
}

.subtitle{
        text-align: center;
    color: #F1D2F5 ;
    opacity: 1.0;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    }





//ABOUT PAGE







#about {
    background-color: #141314;
    background-image: url(../img/jj%20thicc%20white%20question%20marks.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-background-position: bottom right;
  -moz-background-position: bottom right;
  -o-background-position: bottom right;
  background-size: 15em;
    
}

.aboutme{
    color: aqua;
    font-family: 'Epilogue', sans-serif;
    
}
.me {
    color:pink;
    font-family: 'Epilogue', sans-serif;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 2px;
  width: 10%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.87em;
}
.containeroutline {
     position: relative;
  color: white;
    padding-right: 30vh;
    
}
.centered {
    position: absolute;
  top: 100px;
  left: 90px;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.outline {
    padding-left: 10em;
    padding-top: 10vh;
}
.bio-content {
    position: absolute;
    top:125%;
    left: 20%;
    color: #F66DC2;
    background-image: url(../img/Aboutme.jpg);
    background-size: cover; 
    width: 8em;
    height:14em;
    opacity:0.9;
    font-size: 2rem;
        
}
.bio-content-two {
      position: absolute;
    top:125%;
    left: 45%;
    color: #0B5293;
    background-image: url(../img/Reflection.jpg);
    background-size: cover; 
    width: 8em;
    height:14em;
    opacity:0.9;
    font-size: 2rem;
}

.bio {
    font-size: 0.8em;
    color:aliceblue;
}
.modal-content { 
    background: #000 !important;
    }
.wheels {
    width: 100%;
}

    @media only screen and (max-width: 600px) {
    
    body {
        text-align: right;
        
    }
    
    .me {
        text-align: left;
    }
    .aboutme {
        text-align: left;
    }
    .bio-content {
        width:4em;
        height: 4em;
        margin-top: 15%;
        
}
    .bio-content-two {
        width: 4em;
        margin-left: 20%;
        height: 4em;
        margin-top: 15%
    }
}




// PORTFOLIO





#portfolio {
        background-color:gainsboro;

    *{
        margin:0;
        position: 0;
        box-sizing: border-box;
        text-align: center;
    
    }    

.row {
    display: flex;
    flex-wrap: wrap;
}
    .row .column {
    flex:33.3%;  
    width:auto;
    overflow:hidden;
    padding: 0 4px;
    height:100%;    
    }
.row .column img {
    width:100%;
    margin-top: 2%;
    height:100%;
    cursor: pointer;
    filter:grayscale(1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;
    
    }
.row .column img:hover {
    filter:grayscale(0) brightness(1);
}
@media only screen and (max-width:600px) {
    .row .column {
        flex:50%;
    }
} 
@media only screen and (max-width:800px) {
    .row .column {
        flex:50%;
    }
}
}


//EDITINGPAGE






#editing {
    background-image: url(../img/black-marble-patterned-texture-background-marble-thailand-abstract-natural-marble-black-white-design.jpg);
         background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

.editingheader {
    color: #FFFFF0;
    font-family: 'Epilogue', sans-serif;
}

.iframe-container{
  position: relative;
  width: 70%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:10%;
  left:0;
  width: 80%;
  height: 50%;
}
.frankocean {
     color: #FFFFF0;
    font-family: 'Epilogue', sans-serif;
}
.fodescription {
     color: #FFFFF0;
    font-size: 0.8em;
    font-family: 'Meera Inimai', sans-serif;
    
}